@font-face{
    src: url("/Fonty/CascadiaMonoPL.ttf");
    font-family: "Cascadia Mono";
}
body{
    background-color: #004953;
    background-image: url('tlo.png');
    color: #fff;
    font-family: Cascadia Mono;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-evenly;
}
.blok{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 90vmin;
    justify-content: space-around;
    margin-block: 25px;
    min-width: 500px;
    width: 45%;
}
.blok > textarea{
    border: none;
    color: #FFF;
    overflow: scroll;
    resize: none;
    white-space: pre;
}
.blok::-webkit-scrollbar-track{
    background-color: transparent;
}
.blok::-webkit-scrollbar-thumb{
    background-color: #00664C;
}
.przycisk{
    background-color: #00664C;
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1;
    font-size: 2em;
    justify-content: space-around;
    margin: 0;
    margin-inline: 6%;
    max-height: 10%;
    max-width: 75%;
    min-height: 30px;
    padding: 4px;
    text-align: center;
    transition: 0.15s all ease-in-out;
}
.przycisk:hover{
    letter-spacing: 10px;
}
.pole{
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 18px;
    height: 90%;
    min-height: 85%;
    position: relative;
    width: 90%;
}
.pole > input{
    background-color: #004953;
    bottom: 0;
    display: block;
    filter: brightness(100%);
    height: 2.5vmin;
    margin-inline: auto;
    outline: none;
    position: absolute;
    transition: filter .2s;
    z-index: 5;
    -webkit-appearance: none;
    -webkit-transition: .2s;
}
.pole > input:hover{ filter: brightness(120%); }
.pole > input::-webkit-slider-thumb{
    appearance: none;
    background: #00664C;
    border: none;
    border-radius: 1vmin;
    cursor: pointer;
    height: 3vmin;
    width: 3vmin;
    -webkit-appearance: none;
}
.pole > input::-moz-range-thumb{
    background: #00664C;
    cursor: pointer;
    border-radius: 1vmin;
    border: none;
    height: 3vmin;
    width: 3vmin;
}
.linia{
    background-color: #004953;
    bottom: 0;
    color: #004953;
    display: block;
    height: 2.5vmin;
    position: absolute;
    width: 2.5vmin;
    z-index: 0;
}
.kropka{
    background-color: #00664C;
    border-radius: 1vmin;
    bottom: 0;
    display: block;
    height: 3.2vmin;
    margin-bottom: 96%;
    margin-left: 48.2%;
    position: absolute;
    width: 3.2vmin;
    z-index: 5;
}
#a{
    margin-bottom: 61%;
    margin-left: 19.8%;
    width: 61%;
}
#b{
    margin-bottom: 55%;
    margin-left: 35%;
    width: 30%;
}
#c{
    margin-bottom: 30%;
    margin-left: 10%;
    width: 80%;
}
#d{
    margin-bottom: 14.4%;
    margin-left: 50.4%;
    transform: rotate(90deg);
    width: 22.3%;
}
#e{
    margin-bottom: 5%;
    margin-left: 40%;
    width: 20%; 
}
#lA0{
    margin-bottom: 78.8%;
    margin-left: 12.8%;
    transform: rotate(129deg);
    width: 45%;
}
#lA1{
    margin-bottom: 78.8%;
    margin-left: 42.8%;
    transform: rotate(-129deg);
    width: 45%;
}
#lC0{
    margin-bottom: 43%;
    margin-left: 6%;
    transform: rotate(135.5deg);
    width: 35.5%;
}
#lC1{
    margin-bottom: 43%;
    margin-left: 58.5%;
    transform: rotate(-135deg);
    width: 35.5%;
}
#lD{
    margin-bottom: 14.4%;
    margin-left: 27.4%;
    transform: rotate(90deg);
    width: 22.3%;
}
#lE{
    margin-bottom: 24%;
    margin-left: 40%;
    width: 20%;
}
@media (orientation: portrait){
    main{
        height: unset;
    }
    .block{
        max-height: 1.5vmin;
    }
    .przycisk{
        margin-block: 5px;
    }
    .przycisk:hover{
        letter-spacing: 0;
        opacity: 0.8;
    }
    .pole{
        margin-block: 5px;
    }
}
